/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Exo+2|Mandali:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Create some MoneyManager CSS variables. */
:root {
  --moneymanager-dark-green: #07673e;
  --moneymanager-dark-green-rgb: 7, 103, 62;
  --moneymanager-dark-blue: #09004a;
  --moneymanager-dark-blue-rgb: 9, 0, 74;
  --moneymanager-light-green: #48a27b;
  --moneymanager-light-green-rgb: 72, 162, 123;
  --moneymanager-light-pink: #fff8ff;
  --moneymanager-light-pink-rgb: 255, 248, 255;
}
/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--moneymanager-dark-green);
  --bs-dark-rgb: var(--moneymanager-dark-green-rgb);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mandali', sans-serif;
}

/* When logged out we switch the NavBar to bg-light so we need to override the styles to give dark text. */
.bg-light span, .bg-light a {
  color: var(--moneymanager-dark-green);
}

/* When logged out we highlight the selected route. */
.bg-light a.nav-link.active {
  color: var(--moneymanager-dark-blue);
}

/* Override the color on the dropdown when logged out. */
.bg-light a.dropdown-item {
  color: var(--moneymanager-dark-green);
}

/* When logged in we switch the NavBar to bg-dark so we need to override the styles to give light text. */
.bg-dark span, .bg-dark a {
  color: white;
}

/* When logged in we highlight the selected route. */
.bg-dark a.nav-link.active {
  color: #54c997;
}

/* Override the color on the dropdown when logged in. */
.bg-dark a.dropdown-item {
  color: black;
}

.navbar span {
  font-family: 'Exo 2', sans-serif;
}

/* Landing page green color block */
.landing-green-background {
  background-color: var(--moneymanager-light-green);
  color: white;
  padding: 70px 0px 70px 0px;
}

/* Landing page white color block */
.landing-white-background {
  background-color: var(--moneymanager-light-pink);
  color: var(--moneymanager-dark-blue);
  padding: 70px 0px 70px 0px;
}

/* About Us page green color block */
.aboutus-green-background {
  background-color: var(--moneymanager-light-green);
  color: white;
  padding: 70px 0px 70px 0px;
  min-height: 618px;
  height: calc(100vh - 75px - 128px);
}

@media(max-width: 991px){
  .aboutus-green-background {
    min-height: 1050px;
  }
}

@media(max-width: 767px){
  .aboutus-green-background {
    min-height: 795px;
  }
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}

/* Customize the primary color for the buttons */
.btn-primary {
  --bs-btn-bg: #0fa4fa !important;
  --bs-btn-border-color: #0fa4fa !important;
  --bs-btn-hover-bg: #087ec2 !important;
  --bs-btn-hover-border-color: #087ec2 !important;
}

/* Change the toggle button's border and highlight color to white */
#toggleBtn-light {
  border: 1px solid white;
  color: white;
}

/* Customize the toggle (hamburger) svg icon */
#toggleBtn-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Change the toggle icon's border color to white */
#toggleBtn-light.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.qrCode {
  width: 202px;
  height: 202px;
  border: 1px solid rgb(225, 225, 225);
}

.secretCode {
  min-height: 43px;
  border: 1px solid rgb(225, 225, 225);
}
